<div id="po">
	<h2 class="text-center">Ajax/Poo/Symfony-4</h2>
	<br>
	<p class="text-center">
		Formateur : Julien AMEST<br>
	</p>
	
	<br><br>
	<div id="cards">
		<div id="ajax">
			<div class="image">
				<img src="https://udemy-images.udemy.com/course/750x422/597442_1b1f_4.jpg" alt="">
			</div>
			<div class="text">
				<a (click)="hidebm()" routerLink="/ajax"><h3 class="text-center">Ajax</h3></a>
				<br>
				<p>
					AJAX est une téchnique qui sert à envoyer des requêtes au serveur et récupérer les réponses sans recharger la page.
				</p>
			</div>
		</div>
		<div id="ajax">
			<div class="image">
				<img src="http://shorg.e-monsite.com/medias/images/php5-poo-2.png" alt="">
			</div>
			<div class="text">
				<a [routerLink]="['/poo']" ><h3 class="text-center">POO en PHP</h3></a>
				<br>
				<p>
					La POO est une approche de programmation différente de la méthode classique dite procédurale. Le concept d’objet en programmation est fait pour être naturel et ressembler à ce que manipule un non-informaticien. Un objet est une chose quelconque : une voiture, mon compte en banque. Le principe est de manipuler les données sous forme d’objet comme on le fait dans la vie au quotidien.
				</p>
			</div>
		</div>
		<div id="ajax">
			<div class="image">
				<img src="http://www.codeproject.com/KB/aspnet/528117/16.JPG" alt="">
			</div>
			<div class="text">
				<a href="#"><h3 class="text-center">MVC</h3></a>
				<br>
				<p>
					Un modèle (Model) contient les données à afficher.<br>
					Une vue (View) contient la présentation de l'interface graphique.<br>
					Un contrôleur (Controller) contient la logique concernant les actions effectuées par l'utilisateur.
				</p>
			</div>
		</div>
		<div id="ajax">
			<div class="image">
				<img src="https://ez.no/var/ezflow_site/storage/images/regional-home/blog/ez-publish-symfony-le-duo-gagnant/456487-1-fre-FR/eZ-Publish-Symfony-le-duo-gagnant.png" alt="">
			</div>
			<div class="text">
				<a href="#"><h3 class="text-center">Symfony 4</h3></a>
				<br>
				<p>
					Symfony est un ensemble de composants PHP ainsi qu'un framework MVC libre écrit en PHP. Il fournit des fonctionnalités modulables et adaptables qui permettent de faciliter et d’accélérer le développement d'un site web.
				</p>
			</div>
		</div>
	</div>
</div>
